__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
.env
.env.local
.env.*.local
instance/
.webassets-cache
.pytest_cache/
.coverage
htmlcov/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
debug.log
*.log
logs/
*.sqlite
*.db
*.sql
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Python packaging
*.egg-info/
dist/
build/
*.egg

migrations/

.vscode/settings.json
.vscode/launch.json